{% extends 'admin/manager.html' %}change_student

{% block app_content %}
<div class="container mb-4"></div>
<h1 class="display-6" align="center">学生信息修改</h1>
<div class="container mb-4"></div>
<form action="/change_student" method="POST">
    <div class="form-row">
      <div class="col">
        <select type="text" name="MajorName" class="form-control custom-select" placeholder="专业名" required>
            {% if info %}
            {% for major in info.majors %}
            <option>{{ major }}</option>
            {% endfor %}
            {% else %}
            <option>无专业信息，请录入</option>
            {% endif %}
        </select>
      </div>
      <div class="col">
        <input type="number" name="StudentNum" class="form-control" placeholder="学号" required>
      </div>
      <div class="col">
        <input type="text" name="StudentName" class="form-control" placeholder="姓名" required>
      </div>
      <div class="col">
        <select type="text" name="StudentSex" class="form-control custom-select" placeholder="性别" required>
            <option>男</option>
            <option>女</option>
        </select>
    </div>
      <div class="col">
        <input type="datetime" name="StudentInyear" class="form-control" placeholder="入学年份">
      </div>
      <div class="col">
{#      <button type="submit"  class="btn btn-block btn-dark mb-2" >录入</button>#}
          <a href="{{ url_for('change_student', StudentNum=StudentNum) }}" class="btn btn-outline-warning btn-sm" role="button">录入</a>
      </div>
    </div>
  </form>
  <hr>
{#  <div class="container mb-4"></div>#}
{% endblock %}